@use '../../styles/variables.scss' as *;

.enemy_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: $containerWidth;
  height: 90%;
  padding: 1em;

  .enemy_wrapper {
    position: relative;

    .enemy_image {
      background-size: cover;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
      transition: transform .1s;
    }
  }
}