@use '../../../styles/variables.scss' as *; 

.shield {
  position: absolute;
  top: 0;
  left: 0;
  transition: top .2s, left .2s, rotate .2s;
  background-image: url('../../../../public/images/shield.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 0 10px $bg-color);
}