@use './variables.scss' as *;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  background-color: $bg-main-color;
  overflow: hidden;
}

.main_container {
  width: 800px;
  height: 100dvh;
  margin: 0 auto;
  background-color: $bg-color;
  position: relative;
  box-shadow:
    inset 0 0 4px rgba(0, 0, 0, .2),
    0 0 15px rgba(0, 0, 0, .2);
  border-left: 10px solid $bg-color;
  border-right: 10px solid $bg-color;

  .right_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: absolute;
    top: 1em;
    bottom: 1em;
    right: 1em;
    background-color: $primary-color;
    padding: 3em 1em;
  }

  .content_container {
    width: $containerWidth;
    height: 100%;
    padding: 1em;

    .top_info_container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      height: 10%;
    }

    .level_map_container {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.defeat_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100dvh;

  .defeat_title {
    width: 50%;
    position: relative;
    font-size: 128px;

    .left,
    .right {
      position: absolute;
      width: 50%;
      transform: skew(-45deg);
      overflow: hidden;
      transition: left .5s cubic-bezier(1, -0.3, 0.61, 1.34), right .5s cubic-bezier(1, -0.3, 0.61, 1.34);
    }

    .left {
      left: 0%;
      
      div {
        transform: translate(25%) skew(45deg)
      }
    }
    .right {
      left: 50%;
      
      div {
        transform: translate(-75%) skew(45deg)
      }
    }

    &.animate {
      .left {
        left: -10%;
      }

      .right {
        left: 60%;
      }
    }
  }

  .btn_wrapper {
    position: relative;
    left: 25%;
    z-index: 1;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      filter: blur(8px);
      position: absolute;
      top: 10px;
      opacity: 0;
      transition: opacity .2s;
      z-index: -1;
    }

    &:hover:before {
      opacity: 1;
    }

    .defeat_restart {
      font-size: 32px;
      padding: 0.25em 1em;
      background: linear-gradient(180deg, $bg-main-color 60%, $primary-color);
      border: 2px solid $bg-color;
      border-radius: $border-radius;
      color: $bg-color;
      transition: transform .2s;
      cursor: pointer;
      
      &:hover {
        transform: scale(1.1);
        animation-name: btn_floating;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-delay: .2s;

        @keyframes btn_floating {
            0% {
              transform: scale(1.1);
            }
            20% {
              transform: scale(1.1) translate(-1px, 1px);
            }
            40% {
              transform: scale(1.1) translate(1px, -1px);
            }
            60% {
              transform: scale(1.1) translate(1px, 1px);
            }
            80% {
              transform: scale(1.1) translate(-1px, 1px);
            }
            100% {
              transform: scale(1.1);
            }
        }
      }
    }
  }

  .reloading_game {
    width: 0%;
    border-radius: 100%;
    height: 10px;
    background-color: $primary-color;
    transition-delay: .2s;
    transition-timing-function: ease-in-out;

    &.animate {
      width: 100%;
    }
  }
}