@use '../../../../styles/variables.scss' as *;

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: $bg-color;
  margin-bottom: 1em;
  color: $primary-color;
  border-radius: $border-radius;
  transition: box-shadow .2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px 5px $bg-color;
  }
}